
body {
  background-color: #dadada;
  font-size: 10pt; 
}
.container {
  background-color: #dadada;
  margin-left: 300px;
  margin-top: 20px;
  width: 15%;
}
.modernLuxury {
  padding: 20px 25px;
  text-align: center;
}
img {
  width: 100%;
}
h1 {
  font-size: 2em;
  padding-left: 20px;
  position: relative;
  top: 40px;
}
.modernLuxury {
  padding: 20px 25px;
  text-align: center;
  position: relative;
  top: 10px;
  font-family: sans-serif;
  font-size: 1.25em;
}
